<div>
  <%= link_to 'Home', root_path, class: "btn btn-info" %>
  <%= link_to 'Blogs', blogs_path, class: "btn btn-info" %>
  <%= link_to "New Blog", new_blog_path, id: "new_blog_from_nav" %>
</div>






 